* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

header, footer {
  width: 100%;
  position: fixed;
  color: white;
  left: 0;
  overflow: hidden;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}

header {
  top: 0;
  height: 90px;
  padding: 0px;  
  font-family: 'Julee', cursive;
  text-align: left;
  color: firebrick;
  background-color: black;
  border-bottom: 1px solid firebrick;
}

header h1 {
	font-size: 3.6em;
  line-height: 10px;
  margin-left: 20px;
}

header h2 {
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: 40px;
}

caption {
  font-family: 'Julee', cursive;
  font-weight: bolder;
  color: firebrick;
  text-align: center;
  font-size: 3em;
}

nav {
  text-align: right;
  top: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: gainsboro;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 2px;
}

nav li a:hover:not(.active) {
  background-color: firebrick;
  color: gainsboro;
}

main {
  height: 100%;
  width: 100%;
  margin: auto;
}

footer {
  bottom: 0;
  height: 50px;
  font-size: 0.8em;
  background-color: #333333;
  position:fixed;
}

.signup-login-list-item, 
.search-list-item {
  float: right;
  margin-top: 25px;
  cursor: pointer;
}

.active {
  background-color: firebrick;
}

.dashboard-main, 
.my-list-main{
  margin-top: 130px;
}

.learn-more-section {
  height: 100%;
  width: 100%;
  background: url("../images/Landing.jpg") no-repeat right top;
  background-size: cover;
  display: table;
  top: 0;
  background-size: cover;
}

.learn-more-section .inner {
  margin: 25% auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.learn-more-section a {
  color: gainsboro;
}

.learn-more-section .user-button {
  max-width: 600px;
  margin: 5px auto;
  font-size: 16px;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: .5rem;
  background-color: firebrick;
  line-height: 25px;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

.learn-more-section .user-button:hover {
  cursor: pointer;
  background-color: maroon;
}

.about-section-image {
  border-radius: 50%
}

.about-section {
  width: 100%;
  padding: 1.5rem;
  text-align: center; 
}

.about-section-list {
  margin: 25px auto; 
  list-style-type: none;
}

.about-section .top {
  margin: 50px auto;
}

.about-section .top a {
  color: firebrick;
  font-weight: bold;
}

.hidden-height {
  display: block;
  height: 100px;
  width: 100%;
}

.footer-copyright {
  display: inline-block;
  float: center;
  margin: 0 5px;
  font-size: 12px;
}

.footer-copyright a {
  color: gainsboro;
}

.footer-contact {
  display: inline-block;
  float: center;
  margin-left: 10px;
}

.footer-contact a {
  color: gainsboro;
  font-size: 1.5em;
  padding: 10px 5px;
}


/* dashboard page */

.search-section {
  width: 70%;
  margin: 130px 15% 50px 15%;
  height: 100px;
  border-radius: 10px;
  font-family: sans-serif;
  border: 2px solid firebrick;
  padding: 15px;
  display: block;
}

.search-section legend {
  font-size: 1.2em;
  font-weight: bolder;
  color: firebrick;
  padding: 2px 10px ;
  margin-left: 20px;
}

.search-section select {
  width: 30%;
  margin: 0 0.5%;
  background-color: firebrick;
  font-size: 15px;
  height: 30px;
  color: gainsboro;
  position: relative;
  outline-color: firebrick;
}

.search-section button {
  font-size: 1.4em;
  background-color: firebrick;
  color: gainsboro;
  border: 2px solid firebrick;
  border-radius: 10px;
  margin-top: -2px;
  float: right;
  padding: 5px;
}

.search-section button:hover {
  background-color: whitesmoke;
  color: firebrick;
  border: 3px solid firebrick;
}


/* table css */
thead { 
  display: table-header-group;
}

tbody {
  display: table-row-group;
  margin: 0 auto;
  overflow: auto; 
}

tbody td a:visited {
  color: blue;
}

.wines-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 50px 15%;
  height: 100px;
  font: 13px Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: firebrick;
  width: 70%;
  border: 2px solid firebrick;
  border-radius: 10px;
  padding: 5px;
}

.wines-table th {
  background-color: firebrick;
  text-align: center;
  color: gainsboro;
  cursor: pointer;
}

.wines-table td {
  text-align: left;
}

.wines-table td,
.wines-table th {
  border: 1px solid silver;
  padding: 8px;
}

.wines-table .absorbing-column {
  width: 100%;
}

.wines-table tr:nth-child(even) {
  background-color: whitesmoke;
  color: firebrick;
}

.wines-table tr:nth-child(odd) {
  background-color: gainsboro;
  color: firebrick;
}

.wines-table tr a {
  color: firebrick;
}

.wines-table tr a:visited {
  color: black;
}

.wines-table tr:hover,
.wines-table tr:hover a, 
.wines-table tr:hover .fa-button {
  background-color: firebrick;
  color: whitesmoke;
}

.wines-table .fa-button {
  padding: 0;
  width: 1.5em;
  margin: 0;
  text-align: center;
  height: auto;
  font-size: 22px;
  font-weight: 500;
  color: firebrick;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
}

.wines-table .fa-button:hover,
.wines-table .fa-button:focus {
  background-color: gainsboro;
  transition: background 0.2s;
}

/*about section of index page*/
  
@media (min-width: 900px) {
  .about-section-list {
    max-width: 100em; 
  }
  @supports (display: grid) {
    .about-section-list {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(3, 1fr); 
    } 
  } 
}

.about-section-item {
  padding-bottom: 2rem; 
}

.about-section-item:last-child {
    padding-bottom: 0; 
}

@media (min-width: 900px) {
  .about-section-item {
    padding: 0 0.5rem;
    float: left;
    width: 33.33%; 
  }
  @supports (display: grid) {
    .about-section-item {
      padding: 0;
      float: none;
      width: auto; 
    } 
  } 
}

.about-section-title {
  font-size: 1.5em;
  margin-top: 1.0rem; 
  margin-bottom: 0.5rem; 
  color: firebrick;
}

.about-section-image {
  height: 100px;
  width: auto; 
  margin-bottom: 20px;
}


/*---------------Popup Box--------------*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  line-height: 2em;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 5px;
  width: 70%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid firebrick;
  transform: translate(-50%, -50%);
}

.close {
  color: whitesmoke;
  float: right;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 4px;
  padding-right: 10px;
}

.close:hover,
.close:focus {
  color: firebrick;
  text-decoration: none;
  cursor: pointer;
}

.modal-header p {
  padding: 1px 10px;
  background-color: black;
  color: whitesmoke;
  font-weight: bolder;
  font-family: 'Julee', cursive;
  font-size: 1.5em;
}

.modal-body {padding: 1px 10px;}

.modal-body span {
  font-family: 'Julee', cursive;
  font-weight: bolder;
  color: firebrick;
  font-size: 1.2em;
}

.modal-body p {
  font-size: 1.2em;
  font-weight: bolder;
}

.modal-body {padding: 1px 10px;}

/***** MEDIA QUERIES *****/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 310px) and (max-device-width : 767px) {
/* Styles */
  .signup-login-list-item {
    font-size: 0.6em;
    float: right;
    margin-top: 0;
    padding-top: 0;
    width: 33%;
  }

  header h1 {
    font-size: 2em;
    line-height: 10px;
    margin-left: 20px;
  }

  header h2 {
    font-size: 0;
    width: 0;
  }

  .learn-more-section .inner {
    margin: 40% auto;
  }

  .wines-table {
    margin: 50px 10px;
    width: calc(100% - 20px);
  }

  .search-section {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 5px;
  }

  .search-section select {
    width: 47%;
    height: 20px;
    margin-top: 10px;
    font-size: 0.7em;
  }

  .search-section button {
    font-size: 1em;
    margin-top: 2px;
    padding: 1px;
    border-radius: 5px;
    margin-right: 3%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
/* Styles */
  .signup-login-list-item {
    font-size: 1em;
    float: right;
    margin-top: 0;
    padding-top: 0;
  }

  .search-section select {
    font-size: 0.8em;
  }

  .search-section button {
    font-size: 1em;
    margin-top: 2px;
    padding: 2px;
    border-radius: 5px;
    margin-right: 2px;
  }

  header h2 {
    font-size: 1em;
  }
}