* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;

    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/***** GENERAL STYLES *****/

body {
	font-family: 'Barlow', sans-serif;
  position: absolute;
  background: lightgray url("./../images/Landing.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

header, main, footer {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

header, footer {
  position: fixed;
  left: 0;
}

header {
  padding: 0px;  
  font-family: 'Julee', cursive;
  text-align: left;
  margin-left: 20px;
  color: firebrick;
}

header h1 {
	font-size: 4em;
  line-height: 20px;
}

header h2 {
  margin-left: 10px;
  font-size: 1.4em;
}

main {
  width: 20%;
  margin-top: 20%;
}

.user-button {
    margin: 5px;
    font-size: 16px;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: .5rem;
    color: silver;
    background-color: firebrick;
    border-color: #9e9e9e;
    line-height: 25px;
    padding: 0.7rem 1.1rem;
    width: 10rem;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.user-button:hover {
    cursor: pointer;
    background-color: maroon;
}

footer {
  bottom: 0;
  height: 40px;
  font-size: 0.7em;
  color: gainsboro;
}

footer a {
	color: gainsboro;
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 900px) {

	form, label, input, button {
		width: 80%;
	}
}

@media only screen and (min-width: 1200px) {

	form {
		width: 60%;
	}

}
