* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;

    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/***** GENERAL STYLES *****/

body {
	font-family: 'Barlow', sans-serif;
  position: absolute;
  background: lightgray url("./../images/landing.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
}

header, main, footer {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

header, footer {
  position: fixed;
  left: 0;
}

header {
  padding: 0px;  
  font-family: 'Julee', cursive;
  text-align: left;
  margin-left: 20px;
  color: firebrick;
}

header h1 {
	font-size: 4em;
}

header h2 {
  margin-left: 10px;
  font-size: 1.4em;
}

main {
	position: absolute;
	font-size: 1em;
	top: 60%;
}

main button {
	width: 110px;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: firebrick;
}

footer {
  bottom: 0;
  height: 40px;
  font-size: 0.7em;
  color: gainsboro;
}

footer a {
	color: gainsboro;
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 900px) {

	form, label, input, button {
		width: 80%;
	}
}

@media only screen and (min-width: 1200px) {

	form {
		width: 60%;
	}

}
