.setup-form button {
  float: none;
  margin: 30px auto;
}

.setup-form input {
  width: 80%;
  margin: 10px auto;
}

.setup-form label {
  margin: 30px 10%;
}

.switch a {
  color: firebrick;
  font-size: 1.2em;
  font-weight: bolder;
}

.demo {
  width: 250px;
  margin: 10px auto;
  border: 1px solid firebrick;
}

.demo-login {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Montserrat';
  font-style: italic;
}

.demo-account {
  font-size: 1.0em;
  font-weight: bolder;
  margin-bottom: 10px;
}

.demo-account .italic {
  font-weight: bolder;
  font-family: 'Montserrat';
  font-style: italic;
}

/* Media Queries */

@media only screen and (min-width : 480px) {
  .setup-form input {
    width: 70%;
  }
  
  .setup-form label {
    margin: 30px 15%;
  }

}

@media only screen and (min-width : 768px) {
  .setup-form input {
    width: 60%;
  }
  
  .setup-form label {
    margin: 30px 20%;
  }

}

@media only screen and (min-height : 1300px) and (min-width : 1024px) {  
  .setup-form input {
    width: 50%;
  }
  
  .setup-form label {
    margin: 30px 25%;
  }
}

