
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

form {
	margin: 100px 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: block;
	border: 2px solid firebrick;
}

form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 10px;
}

form p {
  margin-top: 10px;
  text-align: center;
}

input, 
textarea {
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 12px;
  border: 2px solid firebrick;
  border-radius: 12px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
  outline-color: firebrick;
}

button[type="submit"], 
button[type="button"] {
  height: auto;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  color: white;
  background-color: firebrick;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  outline-color: firebrick;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="button"]:hover,
button[type="button"]:focus {
  background-color: whitesmoke;
  transition: background 0.1s;
  color: firebrick;
  border: 3px solid firebrick;
  border-radius: 10px;
}

/* button.delete {
  background: #cd8613; 
}

button.delete:hover,
button.delete:focus {
  background-color: #cd6f11;
  transition: background 0.1s;
} */

button a {
  text-decoration: none;
  color: white;
}

#back-button, 
#edit-button, 
#delete-button, 
#add-button {
  float: right;
  margin: 6px;
  width: 140px;
  padding: 10px;
}


#signup {
  width: 120px;
  display: block;
  margin: 0 auto;
  padding: 10px
}

.setup-form  {
  border: 2px solid firebrick;
  border-radius: 10px;
  margin: 120px auto 0;
  min-width: 300px;
}

.setup-form input {
  min-width: 200px;
}

.switch a {
  color: firebrick;
  font-size: 1.2em;
  font-weight: bolder;
}

.switch b {
  font-size: 1.2em;
}

.demo-login {
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: 'Montserrat';
}

.demo-account {
  font-size: 1.2em;
  font-weight: bolder;
}
.wine-details-section {
  
  /* border-radius: 10px; */
  font-size: 1em;
  font-family: sans-serif;
}

/* .wine-details-section {
  width: 70%;
  margin: 100px 15% 50px 15%;
  height: 600px;
  border-radius: 10px;
  
  border: 3px solid firebrick;
  padding: 20px;
  
} */

.wine-details-section .hidden-height {
  height: 20px;
}

.wine-details-section legend {
  font-size: 1.5em;
  font-weight: bolder;
  color: firebrick;
  padding: 2px 0px ;
}

.wine-details-section label {
  font-size: 1em;
  color: firebrick;
  font-weight: bolder;
}

.wine-details-section input[type="text"], 
.wine-details-section textarea {
  background-color: gainsboro;
  font-size: 13px;
  font-weight: bolder;
  line-height: 18px;
  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.wine-details-section textarea {
  height: 60px;
  resize: none;
  overflow: auto;
}  

.wine-details-section button {
  width: 21%;
  color: gainsboro;
  font-size: 1em;
  margin: 20px 0.5%;
}

.half-width {
  width: 48%;
  float: left;
}

.right {
  float: right;
}

@media only screen and (min-width : 480px) {
/* Styles */
  /* .wine-details-section {
    width: calc(100% - 12px);
    margin: 100px auto 50px auto;
    overflow: hidden;
  } */

  .wine-details-section button { 
    font-size: 0.5em;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hidden-height {
    height: 10px;
  }

  .setup-form  {
    margin: 120px auto 80px;
    min-width: 400px;
  }
  
  .setup-form input {
    min-width: 300px;
  }
}

@media only screen and (min-width : 768px) {
/* Styles */
  /* .wine-details-section {
    width: calc(100% - 12px);
    margin: 100px auto 50px auto;
    overflow: hidden;
  } */

  .wine-details-section button { 
    font-size: 1em;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hidden-height {
    height: 10px;
  }

  .setup-form  {
    margin: 120px auto 80px;
    min-width: 700px;
  }
  
  .setup-form input {
    min-width: 300px;
  }
}

@media only screen and (min-height : 1300px) and (min-width : 1024px) {
/* Styles */
  /* .wine-details-section {
    min-height: 600px;
    max-height: 1000px;
    overflow: hidden;
  } */
  .hidden-height {
    height: 0;
  }
}

