* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;

    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgray;
  font-family: 'Barlow', sans-serif;
}

/***** GENERAL STYLES *****/

header, footer {
  width: 100%;
  position: fixed;
  color: white;
  left: 0;
  overflow: hidden;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}

header {
  top: 0;
  height: 90px;
  padding: 0px;  
  font-family: 'Julee', cursive;
  text-align: left;
  color: firebrick;
  background-color: #333333;
}

header h1 {
	font-size: 3.6em;
  line-height: 10px;
  margin-left: 20px;
}

header h2 {
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: 40px;
}

caption {
  font-family: 'Julee', cursive;
  font-weight: bolder;
  color: firebrick;
  text-align: center;
  font-size: 2em;
}

nav {
  text-align: right;
  top: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: gainsboro;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 2px;
}

nav li a:hover:not(.active) {
  background-color: firebrick;
  color: gainsboro;
}

.signup-login-list-item, .search-list-item {
  float: right;
  margin-top: 25px;
  cursor: pointer;
}

.active {
  background-color: firebrick;
}

main {
  height: 100%;
  width: 100%;
  margin: auto;
}

.dashboard-main, .my-list-main{
  margin-top: 130px;
}

.learn-more-section {
  height: 100%;
  width: 100%;
  background: url("./images/Landing.jpg") no-repeat right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  top: 0;
  background-size: cover;
}

.learn-more-section .inner {
  margin: 25% auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.learn-more-section a {
  color: gainsboro;
}

.learn-more-section .user-button {
  max-width: 600px;
  margin: 5px auto;
  font-size: 16px;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: .5rem;
  background-color: firebrick;
  line-height: 25px;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

.learn-more-section .user-button:hover {
  cursor: pointer;
  background-color: maroon;
}

.about-section-image {
  border-radius: 50%
}

.about-section {
  width: 100%;
  padding: 1.5rem;
  text-align: center; 
}

.about-section-list {
  margin: 25px auto; 
  list-style-type: none;
}

.about-section .top {
  margin: 50px auto;
}

.about-section .top a {
  color: firebrick;
  font-weight: bold;
}

footer {
  bottom: 0;
  height: 50px;
  font-size: 0.8em;
  background-color: #333333;
}

.footer-copyright {
  display: inline-block;
  float: center;
  margin: 0 5px;
  font-size: 12px;
}

.footer-copyright a {
  color: gainsboro;
}

.footer-contact {
  display: inline-block;
  float: center;
  margin-left: 10px;
}

.footer-contact a {
  color: gainsboro;
  font-size: 1.5em;
  padding: 10px 5px;
}


/*
  dashboard.html
*/

.search-section {
  width: 70%;
  margin: 130px 15% 50px 15%;
  height: 100px;
  border-radius: 10px;
  font-family: sans-serif;
  border: 2px solid firebrick;
  padding: 15px;
  display: block;
}

.search-section legend {
  font-size: 1.2em;
  font-weight: bolder;
  color: firebrick;
  padding: 2px 10px ;
  margin-left: 20px;
}

.search-section select {
  width: 30%;
  margin: 0 1%;
  background-color: firebrick;
  font-size: 15px;
  height: 30px;
  color: gainsboro;
  position: relative;
}

thead { 
  display: table-row-group;
}

tbody {
  margin: 0 auto;
  overflow: auto; 
}

tbody td a {
  text-decoration: none;
}

.wines-table {
  margin: 50px 15%;
  height: 300px;
  font: 13px Arial, Helvetica, sans-serif;
  color: firebrick;
  width: 70%;
  border: 2px solid firebrick;
  border-radius: 10px;
  padding: 5px;
}

.wines-table th {
  background-color: firebrick;
  text-align: center;
  color: gainsboro;
}

.wines-table td {
  text-align: left;
}

.wines-table td,
.wines-table th {
  border: 1px solid gainsboro;
  padding: 8px;
}

.wines-table tr:nth-child(even) {
  background-color: gainsboro;
}

.wines-table tr:nth-child(odd) {
  background-color: lightgray;
}

  
@media (min-width: 900px) {
  .about-section-list {
    max-width: 100em; 
  }
  @supports (display: grid) {
    .about-section-list {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(3, 1fr); 
    } 
  } 
}

.about-section-item {
  padding-bottom: 2rem; 
}

.about-section-item:last-child {
    padding-bottom: 0; 
}

@media (min-width: 900px) {
  .about-section-item {
    padding: 0 0.5rem;
    float: left;
    width: 33.33%; 
  }
  @supports (display: grid) {
    .about-section-item {
      padding: 0;
      float: none;
      width: auto; 
    } 
  } 
}

.about-section-title {
  font-size: 1.5em;
  margin-top: 1.0rem; 
  margin-bottom: 0.5rem; 
  color: firebrick;
}

.about-section-image {
  height: 100px;
  width: auto; 
  margin-bottom: 20px;
}

/***** MEDIA QUERIES *****/


@media screen and (max-width: 480px) {

  .signup-login-list-item {
    font-size: 12px;
    float: right;
    margin-top: 0;
    padding-top: 0;
  }

  header h1 {
    font-size: 2em;
    line-height: 10px;
    margin-left: 20px;
  }

  header h2 {
    font-size: 0;
  }

  .learn-more-section .inner {
    margin: 40% auto;
  }
}

