* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;

    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
  background-color: lightgray;
  height: calc(100% - 1050px);
}

/***** GENERAL STYLES *****/

.background-image {
  position: absolute;
  background: lightgray url("./images/Landing.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
}

header, footer {
  width: 100%;
  position: fixed;
  color: white;
  left: 0;
  overflow: hidden;
  padding: 1em;
}

body {
	font-family: 'Barlow', sans-serif;
}

header, footer {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

header {
  top: 0;
  height: 100px;
  padding: 0px;  
  font-family: 'Julee', cursive;
  text-align: left;
  color: firebrick;
  background-color: #333333;
}

header h1 {
	font-size: 3.6em;
  line-height: 10px;
  margin-left: 20px;
}

header h2 {
  font-size: 1.5em;
  margin-left: 20px;
  margin-top: 40px;
}

nav {
  text-align: right;
  top: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: firebrick;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 2px;
}

nav li a:hover:not(.active) {
  background-color: maroon;
  color: gainsboro;
}

.signup-login-list-item {
  float: right;
  margin-top: 25px;
}

.active {
  background-color: firebrick;
}

.learn-more {
  margin-top: 25%;
  margin-left: calc(50% - 75px);
}

.learn-more a {
  color: gainsboro;
}

.user-button {
  margin: 5px;
  font-size: 16px;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: .5rem;
  background-color: firebrick;
  line-height: 25px;
  padding: 8px 15px;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.user-button:hover {
  cursor: pointer;
  background-color: maroon;
}

.top {
  margin-top: 100px;
}

.top a {
  color: firebrick;
  font-weight: bold;
}

footer {
  bottom: 0;
  height: 40px;
  font-size: 0.7em;
  color: gainsboro;
  background-color: #333333;
}

footer a {
	color: gainsboro;
}

img {
  border-radius: 50%
}

.value-prop {
  margin-top: 50%;
  height: 450px;
  width: 100%;
  padding: 1.5rem;
  text-align: center; 
}

.value-prop__list {
  margin: 0 auto; 
  list-style-type: none;
}
  
@media (min-width: 900px) {
  .value-prop__list {
    max-width: 100em; 
  }
  @supports (display: grid) {
    .value-prop__list {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: repeat(3, 1fr); 
    } 
  } 
}

.value-prop__item {
  padding-bottom: 2rem; 
}

.value-prop__item:last-child {
    padding-bottom: 0; 
}

@media (min-width: 900px) {
  .value-prop__item {
    padding: 0 0.5rem;
    float: left;
    width: 33.33%; 
  }
  @supports (display: grid) {
    .value-prop__item {
      padding: 0;
      float: none;
      width: auto; 
    } 
  } 
}

.value-prop__item-title {
  font-size: 1.5em;
  margin-top: 1.0rem; 
  margin-bottom: 0.5rem; 
  color: firebrick;
}

.value-prop__item-image {
  height: 100px;
  width: auto; }
/***** MEDIA QUERIES *****/

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 900px) {

	form, label, input, button {
		width: 80%;
	}
}

@media only screen and (min-width: 1200px) {

	form {
		width: 60%;
	}

}
